{% extends 'base.html' %}
{% block content %}

<h1>Publications</h1>

{% for pub in publications %}
    <div class='pubentry'>
        {{ pub.authors|replace('Georg Nebehay', '<span class="me">Georg Nebehay</span>') }}
        <br />
        <a href='{{ pub.url }}'>{{ pub.title }}</a>
        <br />
        {{ pub.published }}
        <span class='link_panel'>
            {% if pub.pdf %}
            <a href='{{ pub.pdf }}'>
                <img src='/img/pdficon_small.png' title='Download pdf' />
            </a>
            {% endif %}
            {% if pub.bibfile %}
            <a href='{{ pub.bibfile }}'>
                <img src='/img/logo_bibtex.png' width='16' title='Download bib file' />
            </a>
            {% endif %}
            {% if pub.code %}
                <a href='{{ pub.code }}'>
                    <img src='/img/Octocat.png' height='16' title='Download code' />
                </a>
            {% endif %}
            {% if pub.project %}
            <a href='{{ pub.project }}'>
                <img src='/img/url.png' height='16' title='Project page' />
            </a>
            {% endif %}
            {% if pub.note %}
                <br />
                {{ pub.note }}
            {% endif %}
        </span>
    </div>
{% endfor %}
{% endblock %}
