extends page
block prepend content 
	div.sidecolumn
		a(href="https://github.com/gnebehay/OpenTLD"): img(style="position: relative; top: -30px; right: -31px; border: 0;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
		br
		a(href="http://www.ait.ac.at"): img(width=150, src="ait_logo.jpg", alt="AIT logo")
		br
		a(href="http://www.wwtf.at"): img(width=150 src="wwtf_logo.jpg" alt="WWTF logo")
		br
		a(href="http://www.epics-project.eu"): img(width=150, src="logo_epics.gif", alt="EPiCS logo")
		br
		a(href="http://www.cat-project.at"): img(width=150, src="cat_logo.png", alt="CAT logo")

